#id {
    color: red;
}

.danger#id {
    color: red;
}

body {
    color: red;
}

.list1,
.list2 {
    color: red;
}

.parent .child .grandchild {
    color: red
}

.p > .c {
    color: red;
}

.sib1 + .sib2 {
    color: red;
}

.sib3 ~ .sib4 {
    color: red;
}

input[type=text] {
    color: red;
}

.input[type=text] {
    color: red;
}

input[value^="hello white spaces   !"] {
    color: red;
}

input[value^="sneaky braces { }"] {
    color: red;
}

input[value^="sneaky escaped quote \" "] {
    color: red;
}

input[value^="sneaky unclosed comment /* "] {
    color: red;
}

* {
    color: red;
}

@media only screen and (max-width: 600px) {
    #id2 {
        color: red;
    }
}
